html,
body {
  background: #222;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body.mirror {
  background: rgb(150, 80, 0) !important;
}

#hexagon-container {
  --hexagon-spacing: 1.06;
  --hex-short-radius: 6vmin;
  --hex-long-radius: calc(var(--hex-short-radius) / sin(60deg));
  --duration: 5s;
  position: absolute;
  transition-duration: 3s;
  transition-property: transform;
  transform: rotateY(0deg);

  /* Ensure we have some hexagons off-screen, so that transitions
  ** which move hexagons don't visibly hit the edge of the animatable
  ** space. */
  /* Normally negative; set to positive for debugging */
  --margin-radii: -4;
  border: 1px solid red;

  left: calc(var(--hex-long-radius) * var(--margin-radii));
  top: calc(var(--hex-short-radius) * var(--margin-radii));
  bottom: calc(var(--hex-short-radius) * (var(--margin-radii)));
  right: calc(var(--hex-long-radius) * (var(--margin-radii)));
}

/**************************************/

.cell {
  position: absolute;
  transition-property: top, left, transform;
  transition-duration: var(--duration);
  transform-style: preserve-3d;
  width: calc(2 * var(--hex-long-radius));
  height: calc(2 * var(--hex-short-radius));
}

.cellOrientation {
  transition-property: none;
  transform-style: preserve-3d;
  transform-origin: center center 0px;
  width: 100%;
  height: 100%;
}

.coin {
  position: relative;
  transform-origin: center center 0px;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

/**************************************/

.frontFace,
.backFace {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0, 25% 0);
  width: calc(var(--hex-long-radius) * 2);
  height: calc(var(--hex-short-radius) * 2);
  transition-property: background-color;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.backFace {
  rotate: y 180deg;
}

/*
** Text
*/

.text {
  text-align: center;
  line-height: 0;
  color: #fff;
  position: relative;
  transition-property: color;
  transition-duration: var(--duration);
}

.text.top {
  font-size: calc(var(--hex-short-radius) * 0.23);
  top: 18%;
  font-weight: 400;
}

.text.middle {
  font-size: calc(var(--hex-short-radius) * 0.83);
  top: 50%;
  font-weight: 700;
}

.text.bottom {
  font-size: calc(var(--hex-short-radius) * 0.19);
  top: 82%;
  font-weight: 400;
}

.alternate {
  position: absolute;
  left: 0;
  width: 100%;
  transition-property: opacity;
  transition-duration: var(--duration);
}
